{
    "realVerifier": false,
    "trustedSequencerURL": "https://rpc-devnet.ethda.io",
    "networkName": "ethda-devnet",
    "version":"0.0.1",
    "trustedSequencer":"0x9d178cf7f8f6cab0223055b12b2545f2b910fa58",
    "chainID": 177,
    "trustedAggregator":"0xb51023f387c4cace7d1d38bff9a5d127a6a6cea2",
    "trustedAggregatorTimeout": 604799,
    "pendingStateTimeout": 604799,
    "forkID": 5,
    "admin":"0x617b3a3528F9cDd6630fd3301B9c8911F7Bf063D",
    "cdkValidiumOwner": "0x617b3a3528F9cDd6630fd3301B9c8911F7Bf063D",
    "timelockAddress": "0x617b3a3528F9cDd6630fd3301B9c8911F7Bf063D",
    "minDelayTimelock": 3600,
    "salt": "0x0000000000000000000000000000000000000000000000000000000000000000",
    "initialCDKValidiumDeployerOwner" :"0xaddress",
    "maticTokenAddress":"0x617b3a3528F9cDd6630fd3301B9c8911F7Bf063D",
    "cdkValidiumDeployerAddress":"",
    "deployerPvtKey": "",
    "maxFeePerGas":"",
    "maxPriorityFeePerGas":"",
    "multiplierGas": "",
    "setupEmptyCommittee": true,
    "committeeTimelock": false
}
